.best-seller {
  width: $mobile-container;
  margin: 0 auto;
}

.best-seller__title {
  @include zero-indent;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;
}

.best-seller__remark {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $green;
}

.best-seller__description {
  @include zero-indent;
  margin-bottom: 30px;

  font-size: 15px;
  font-weight: 400;
  color: $text-color;
}

.best-seller__details {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color;

  border-collapse: collapse;
}

.best-seller__property {
  width: 100px;
  height: 40px;

  vertical-align: middle;

  border-bottom: 1px solid $light-gray;
}

.best-seller__value {
  width: 160px;
  border-bottom: 1px solid $light-gray;
}

.best-seller__image-wrapper {
  @include zero-indent;
  margin-bottom: 25px;

  line-height: 0;
}

.best-seller__price-wrapper {
  width: $mobile-container;
}

.best-seller__price {
  margin-bottom: 25px;

  text-align: center;
  color: $text-color;
}

.best-seller__button {
  margin-bottom: 35px;
}
