.best-seller {
  width: $mobile-container;
  margin: 0 auto;
}

.best-seller__title {
  @include zero-indent;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;
}

.best-seller__remark {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $green;
}

.best-seller__description {
  width: $mobile-container;

  @include zero-indent;
  margin-bottom: 30px;

  font-size: 15px;
  font-weight: 400;
  color: $text-color;
}

.best-seller__details {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color;

  border-collapse: collapse;
}

.best-seller__property {
  width: 100px;
  height: 40px;

  vertical-align: middle;

  border-bottom: 1px solid $light-gray;
}

.best-seller__value {
  width: 160px;
  border-bottom: 1px solid $light-gray;
}

.best-seller__image-wrapper {
  @include zero-indent;
  margin-bottom: 25px;

  line-height: 0;
}

.best-seller__price-wrapper {
  width: $mobile-container;
}

.best-seller__price {
  margin-bottom: 25px;

  text-align: center;
  color: $text-color;
}

.best-seller__button {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .best-seller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    padding: 50px;
  }

  .best-seller__title {
    width: 500px;
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .best-seller__remark {
    width: 125px;

    line-height: 17px;
    text-align: center;
  }

  .best-seller__inner {
    position: relative;
    width: 290px;
  }

  .best-seller__value {
    width: 190px;
  }

  .best-seller__description {
    font-size: 17px;
    line-height: 30px;
  }

  .best-seller__image-wrapper {
    position: absolute;
    content: "";
    top: 0;
    left: 334px;

    width: 333px;
    height: 404px;
  }

  .best-seller__details {
    margin-bottom: 60px;
  }

  .best-seller__price {
    margin-bottom: 34px;
    font-size: 20px;
  }

  .best-seller__button {
    width: 292px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .best-seller {
    position: relative;

    justify-content: flex-start;
    width: $desktop-width;
    padding: 70px 50px;
  }

  .best-seller__title {
    position: absolute;
    content: "";
    top: 130px;
    left: 225px;

    width: 550px;

    font-size: 53px;
    line-height: 57px;

    z-index: 1;
  }

  .best-seller__remark {
    order: 1;
    width: 175px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

    line-height: 17px;
    text-align: center;
  }

  .best-seller__inner {
    position: relative;
    width: 290px;
    order: 2;
    padding-top: 160px;
  }

  .best-seller__value {
    width: 190px;
  }

  .best-seller__description {
    font-size: 17px;
    line-height: 30px;
  }

  .best-seller__image-wrapper {
    position: absolute;
    content: "";
    top: 0;
    left: 334px;

    width: 333px;
    height: 404px;

    z-index: 0;
  }

  .best-seller__details {
    margin-bottom: 60px;
  }

  .best-seller__price {
    margin-bottom: 34px;
    font-size: 20px;
  }

  .best-seller__button {
    width: 292px;
    margin: 0;
  }
}
