.button {
  display: block;
  height: 52px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(68, 68, 68);

  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(68, 68, 68);
}
