.button {
  display: block;
  height: $cell-height;
  @include zero-indent;

  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;

  background-color: $white;
  border: 2px solid $text-color;
}
