.catalog-intro__nav {
  width: $mobile-width;
  margin: 0 auto;
}

.catalog-intro__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include zero-indent;

  list-style: none;
}

.catalog-intro__item {
  width: 100%;

  @include zero-indent;
}

.catalog-intro__link {
  display: block;
  min-height: 103px;
  margin: 0;
  padding-top: 25px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  color: $white;

  background-color: $green;
}

.catalog-intro__link--interior {
  position: relative;

  padding-right: 80px;

  background-color: $green;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 244px 23px;

  &:hover,
  &:focus {
    background-color: $green-hover;
    background-image: url("../img/icon-interior-hover.svg");
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $green-hover;
    background-image: url("../img/icon-interior-active.svg");
  }
}

.catalog-intro__link--toys {
  background-color: $fade-green;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 235px 20px;

  &:hover,
  &:focus {
    background-color: $fade-green-hover;
    background-image: url("../img/icon-toy-hover.svg");
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $green-hover;
    background-image: url("../img/icon-toy-active.svg");
  }
}

.catalog-intro__link-inner {
  display: block;
  width: 120px;
}

.catalog-intro__deco {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-intro {
    position: relative;
    width: $tablet-width;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;

      display: block;
      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center top;
      background-size: $tablet-width;
    }
  }

  .catalog-intro__nav {
    width: $tablet-width;

    @include zero-indent;
  }

  .catalog-intro__list {
    width: $tablet-container;
    margin: 0 auto;
  }

  .catalog-intro__item {
    width: 50%;
  }

  .catalog-intro__link {
    min-height: 128px;
    padding-top: 27px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }

  .catalog-intro__link--interior {
    background-position: 257px 30px;
  }

  .catalog-intro__link--toys {
    background-position: 240px 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-intro {
    width: $desktop-width;

    &::after {
      bottom: 0;

      height: 35px;

      background-size: 1250px 37px;
    }
  }

  .catalog-intro__nav {
    width: $desktop-width;
  }

  .catalog-intro__list {
    width: $desktop-container;
    min-height: 135px;
  }

  .catalog-intro__link {
    padding-top: 28px;
    padding-left: 36px;
  }

  .catalog-intro__link--interior {
    background-position: 449px 30px;
  }

  .catalog-intro__link--toys {
    background-position: 430px 31px;
  }
}
