.catalog-intro {
  margin-bottom: 34px;
}

.catalog-intro__nav {
  width: $mobile-width;
  margin: 0 auto;
}

.catalog-intro__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;

  @include zero-indent;

  list-style: none;
}

.catalog-intro__item {
  width: 100%;
  @include zero-indent;
}

.catalog-intro__link {
  display: block;
  min-height: 103px;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  color: $white;

  background-color: $green;
}

.catalog-intro__link--interior {
  background-color: $green;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 244px 23px;
  &:hover,
  &:focus {
    background-color: $green-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $green-hover;
    background-image: url("../img/icon-interior-active.svg");
  }
}

.catalog-intro__link--toys {
  background-color: $fade-green;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 240px 23px;
  &:hover,
  &:focus {
    background-color: $fade-green-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $green-hover;
    background-image: url("../img/icon-toy-active.svg");
  }
}

.catalog-intro__link-inner {
  display: block;
  width: 120px;
}
