.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  width: $mobile-width;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;

  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  background-image: url("../img/bg-zigzag-line-mini.svg");
  background-repeat: repeat-x;
  background-position: top;
}

.contacts__wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  @include zero-indent;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__inner {
  display: flex;
  width: 100%;
  margin-bottom: 40px;

  color: $text-color;
}

.contacts__item {
  width: 77px;
  @include zero-indent;
}

.contacts__text {
  flex-grow: 1;
  @include zero-indent;
}

.contacts__button {
  width: $mobile-container;
  margin: 0 auto;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__button--desktop {
  display: none;
}

.contacts__map {
  @include zero-indent;
  margin-bottom: 39px;
}
