.main-nav {
  position: relative;

  width: $mobile-width;
  min-height: 79px;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @include zero-indent;

  list-style: none;
}

.main-nav__item {
  display: block;
  width: $mobile-width;
  min-height: 79px;
  margin: 0;
  padding-left: 76px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid $light-gray;
}

.main-nav__item:first-child {
  border-top: 1px solid $light-gray;
}

.main-nav__item--logo {
  position: relative;

  padding: 0;
  padding-top: 20px;
}

.main-nav__item--search,
.main-nav__item--cart {
  position: relative;
}

.main-nav__item--new,
.main-nav__item--sale,
.main-nav__item--delivery {
  display: none;
}

.main-nav__logo-link {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding: 0;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;

  line-height: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image--active:hover {
  opacity: 1;

  cursor: default;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 20px;
  height: 14px;

  background-color: $transparent;
  border: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 2px;

  background-color: $hamburger-color;
  box-shadow: 0 6px 0 0 $hamburger-color, 0 12px 0 0 $hamburger-color;
}

.main-nav--opened .main-nav__toggle {
  top: 27px;
  right: 30px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: -5px;

    width: 29px;
    height: 2px;

    background-color: $hamburger-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__link {
  color: inherit;

  &:hover {
    color: $black-hover;
  }

  &:active {
    color: $black-active;
  }
}

.main-nav__link--active:hover,
.main-nav__link--active:active {
  color: $black;

  cursor: default;
}

.main-nav__button {
  position: absolute;
  top: 35px;
  left: 30px;

  display: block;
  width: 22px;
  height: 18px;

  @include zero-indent;

  background-color: $transparent;
  border: none;

  cursor: pointer;
}

.main-nav__button:hover path {
  fill: $green;
}

.main-nav__button:active path {
  fill: rgba(99, 209, 187, 0.3);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }

  .main-nav__item {
    min-height: 89px;

    @include zero-indent;
    padding-top: 16px;

    font-size: 15px;

    border-bottom: 1px solid $light-gray;
  }

  .main-nav__item:first-child {
    border-top: none;
  }

  .main-nav__item--logo {
    width: 370px;
    padding-top: 23px;
    padding-left: 50px;

    background-color: $white;
  }

  .main-nav__logo-link {
    width: 113px;
    height: 46px;
    margin: 0;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__button {
    top: 37px;
    left: 33px;
  }

  .main-nav__button--cart {
    top: 34px;
    left: 31px;
  }

  .main-nav__item--cart {
    width: 315px;
    padding-top: 32px;
    padding-right: 50px;

    font-size: 17px;
    text-align: right;

    background-color: $white;
  }

  .main-nav__item--catalog {
    width: 217px;
    order: 4;
    padding-left: 50px;

    border: none;
  }

  .main-nav__item--form {
    width: 167px;
    order: 5;

    border: none;
  }

  .main-nav__item--search {
    width: 83px;

    background-color: $white;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }

  .main-nav__link--search {
    visibility: hidden;
  }

  .main-nav__item--delivery {
    display: block;
    width: 315px;
    order: 6;
    margin-left: auto;
    padding-right: 50px;

    font-weight: 400;
    text-align: right;
    color: $text-color;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
  }

  .main-nav__list {
    padding: 0;
  }

  .main-nav__item {
    min-height: 89px;

    @include zero-indent;
    padding-top: 32px;

    border-bottom: 1px solid $menu-bottom;
  }

  .main-nav__item--catalog {
    order: 1;
    width: 235px;
    padding-left: 50px;

    font-size: 17px;

    background-color: $white;
    border-right: 1px solid $light-gray;
  }

  .main-nav__item--form {
    order: 2;
    width: 235px;
    padding-left: 35px;

    font-size: 17px;

    background-color: $white;
  }

  .main-nav__item--logo {
    order: 3;
    width: 280px;
    padding-left: 30px;
    padding-top: 9px;
  }

  .main-nav__logo-link {
    width: 149px;
    height: 72px;
    margin: 0;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__item--search {
    order: 4;
    width: 83px;
  }

  .main-nav__item--cart {
    order: 5;
    width: 315px;
    padding-left: 60px;
    padding-right: 50px;

    font-size: 17px;
  }

  .main-nav__item--new {
    order: 6;
    display: block;
    width: 235px;
    padding-left: 50px;
    padding-top: 18px;

    border: none;
  }

  .main-nav__item--sale {
    order: 7;
    display: block;
    width: 235px;
    padding-left: 35px;
    padding-top: 18px;

    border: none;
  }

  .main-nav__item--delivery {
    order: 8;
    width: 315px;
    margin-left: auto;
    padding-right: 50px;
    padding-top: 18px;

    border: none;
  }
}
