.map {
  position: relative;

  width: $mobile-width;
  height: 457px;

  @include zero-indent;

  line-height: 0;

  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 139px 145px, center;
  background-size: 67px 100px, $mobile-width auto;
}

.map-iframe {
  width: $mobile-width;
  height: 457px;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 363px 139px, center;
    background-size: 67px 100px, $tablet-width auto;
  }

  .map-iframe {
    width: $tablet-width;
    height: 457px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 239px 153px, center;
    background-size: 67px 100px, 525px auto;
  }

  .map-iframe {
    width: 525px;
    height: 457px;
  }
}
