.order-form {
  background-color: $white;
}

.order-form__title {
  @include zero-indent;
  padding-top: 72px;
  padding-bottom: 75px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: rgb(35, 31, 32);

  background-color: $bg-gray;
}

.order-form__intro {
  padding-top: 23px;
  padding-bottom: 23px;

  font-size: 13px;
  font-weight: 400;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .order-form__title {
    padding-top: 5px;
    padding-bottom: 93px;
    margin: 0;

    font-size: 43px;
    line-height: 50px;
    color: $black;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: $tablet-width 24px;
  }

  .order-form__intro {
    padding-top: 60px;
    padding-bottom: 14px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    padding-bottom: 120px;

    font-size: 53px;
    line-height: 57px;

    background-size: $desktop-width 34px;
  }

  .order-form__intro {
    padding: 105px 225px 10px;
  }
}
