.order-form {
  width: $mobile-width;
  margin: 0 auto;
}

.order-form__title {
  min-height: 177px;

  @include zero-indent;
  padding-top: 72px;
  padding-bottom: 77px;
  margin-bottom: 25px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: rgb(35, 31, 32);

  background-color: $bg-gray;
}

.order-form__intro {
  @include zero-indent;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 27px;

  font-size: 13px;
  font-weight: 400;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .order-form {
    width: $tablet-width;
  }

  .order-form__title {
    padding-top: 10px;
    padding-bottom: 80px;
    margin: 0;

    font-size: 43px;
    line-height: 50px;
    color: $black;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: $tablet-width;
  }

  .order-form__intro {
    padding: 50px;
    padding-top: 75px;
    margin: 0;

    font-size: 17px;
    line-height: 30px;

    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    width: $desktop-width;
  }

  .order-form__title {
    padding-bottom: 105px;

    font-size: 53px;
    line-height: 57px;
  }

  .order-form__intro {
    padding: 125px 225px 10px;
  }
}
