.page-container {
  min-width: $mobile-width;
  @include zero-indent;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $tablet-width) {
  .page-container {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 90px;
  }
}
