@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    margin: 0 auto;

    background-image: linear-gradient($white 89px, $bg-gray 89px);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-header--index {
    background-image: url("../img/hero-tablet@1x.jpg"), linear-gradient($white 89px, $bgmenu-gray 89px);
    background-repeat: no-repeat, no-repeat;
    background-position: center 89px, 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }
}
