.page-main__wrapper {
  padding-top: 70px;

  background-color: $bgmenu-gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

.page-main__main-title {
  width: $mobile-container;
  margin: 0 auto;
  margin-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: rgb(1, 0, 0);
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    padding-top: 65px;

    background-image: url("../img/bg-zigzag-fill.svg"), url("../img/hero-tablet@1x.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: center bottom, center -89px;
    background-size: $tablet-width 24px, 1150px 746px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-zigzag-fill.svg"), url("../img/hero-tablet@2x.jpg");
      background-repeat: repeat-x, no-repeat;
      background-position: center bottom, center -89px;
      background-size: $tablet-width 24px, 1150px 746px;
    }
  }

  .page-main__main-title {
    width: $tablet-container;
    margin: 0 auto;
    margin-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    background-size: 1250px 37px, 1150px 746px;
  }

  .page-main__main-title {
    margin-bottom: 359px;

    font-size: 53px;
    line-height: 57px;
  }
}
