.page-container {
  @include zero-indent;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.page-container__index-wrapper {
  min-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-container {
    background-color: $bg-gray;
  }

  .page-container--index {
    background-color: $bgmenu-gray;
  }

  .page-container__index-wrapper {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 89px;
  }
}

@media (min-width: $desktop-width) {
  .page-container__index-wrapper {
    width: $desktop-width;
  }
}
