.page-catalog {
  background-color: $white;
}

.page-catalog__title {
  min-height: 177px;

  @include zero-indent;
  padding-top: 72px;
  padding-bottom: 75px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: $bg-gray;
}

.page-catalog__white-bg {
  background-color: $white;
}

.page-catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;

  list-style: none;
}

.page-catalog__button {
  width: 192px;
  padding-top: 16px;
  margin: 0 auto;
  margin-bottom: 33px;

  line-height: 16px;

  &:hover,
  &:focus {
    color: $white;

    background-color: $text-color;
  }

  &:active {
    color: transparentize($white, 0.7);

    background-color: transparentize($text-color, 0.3);
    border-color: transparentize($text-color, 1);
  }
}

@media (min-width: $tablet-width) {
  .page-catalog__title {
    min-height: 0;
    padding-top: 7px;
    padding-bottom: 90px;

    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: $tablet-width 24px;
  }

  .page-catalog__list {
    padding: 69px 50px 53px;
  }

  .page-catalog__item {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-catalog__button {
    width: 584px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog__title {
    padding-top: 4px;
    padding-bottom: 120px;

    font-size: 53px;
    line-height: 57px;

    background-size: $desktop-width 34px;
  }

  .page-catalog__list {
    padding-top: 63px;
    padding-bottom: 57px;
  }

  .page-catalog__button {
    width: 230px;
  }
}
