.page-catalog {
  width: $mobile-width;
  margin: 0 auto;
}

.page-catalog__title {
  min-height: 177px;

  @include zero-indent;
  padding-top: 72px;
  padding-bottom: 77px;
  margin-bottom: 30px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: $bg-gray;
}

.page-catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include zero-indent;
  padding-left: 30px;
  padding-right: 30px;

  list-style: none;
}

.page-catalog__button {
  width: 192px;
  padding-top: 15px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 33px;

  line-height: 16px;
}
