.product-card {
  display: flex;
  flex-wrap: wrap;
  @include zero-indent;
  margin-bottom: 30px;

  border: 1px solid $border-gray;
}

.product-card__image-wrapper {
  @include zero-indent;

  background-color: rgb(237, 237, 237);
}

.product-card__link--image {
  display: block;
  @include zero-indent;

  line-height: 0;
}

.product-card__link--name {
  color: $black;
}

.product-card__image {
  width: $mobile-container;
  height: 195px;
  @include zero-indent;

  line-height: 0;
}

.product-card__info-wrapper {
  position: relative;

  width: 205px;
  min-height: 180px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 100px;
}

.product-card__name {
  @include zero-indent;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 24px;
}

.product-card__data {
  @include zero-indent;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.product-card__price-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  min-height: 74px;

  border-top: 1px solid $light-gray;
}

.product-card__price {
  width: 170px;
  @include zero-indent;
}

.product-card__button-wrapper {
  width: 20px;
  @include zero-indent;
  margin-left: auto;
}

.product-card__button {
  width: 20px;
  height: auto;

  font-size: 0;
  line-height: 0;

  border: none;

  cursor: pointer;
}
