.product-card {
  display: flex;
  flex-wrap: wrap;
  width: $mobile-width;

  @include zero-indent;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-card__image-wrapper {
  @include zero-indent;

  background-color: $border-gray;
}

.product-card__link--image {
  display: block;

  @include zero-indent;

  line-height: 0;
}

.product-card__link--name {
  color: $black;
}

.product-card__image {
  width: $mobile-container;
  height: 195px;

  @include zero-indent;

  line-height: 0;
}

.product-card__info-wrapper {
  position: relative;

  width: $mobile-container;
  min-height: 179px;
  margin: 0;
  padding: 27px;
  padding-bottom: 91px;

  border: 1px solid $border-gray;
}

.product-card__name {
  @include zero-indent;
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
}

.product-card__data {
  @include zero-indent;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.product-card__price-wrapper {
  position: absolute;
  left: 27px;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 74px;
  padding-top: 23px;

  border-top: 1px solid $light-gray;
}

.product-card__price {
  width: 170px;

  @include zero-indent;

  font-size: 15px;
}

.product-card__button-wrapper {
  width: 20px;

  @include zero-indent;
  margin-left: auto;
}

.product-card__button {
  width: 20px;
  height: auto;

  font-size: 0;
  line-height: 0;

  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: $tablet-container;
    margin-bottom: 30px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__info-wrapper {
    width: 334px;
    padding-top: 27px;

    border: 1px solid $light-gray;
  }

  .product-card__name {
    margin-bottom: 10px;

    font-size: 20px;
  }

  .product-card__data {
    font-size: 15px;
  }

  .product-card__price-wrapper {
    left: 32px;
    width: 270px;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
    min-height: 659px;
    margin: 0;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__info-wrapper {
    width: 316px;
  }
}
