.product-card {
  display: flex;
  flex-wrap: wrap;
  width: $mobile-width;

  @include zero-indent;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .product-card__info-wrapper,
  &:focus .product-card__info-wrapper {
    box-shadow: 0 3px 10px 2px $light-gray;
  }

  &:active .product-card__info-wrapper {
    box-shadow: 0 2px 5px 0 $light-gray;
  }
}

.product-card__image-wrapper {
  width: $mobile-container;
  height: 195px;

  @include zero-indent;

  background-color: $border-gray;
}

.product-card__link--image {
  display: block;
  width: $mobile-container;
  height: 195px;

  @include zero-indent;
}

.product-card__link--name {
  color: $black;

  &:hover,
  &:focus {
    color: transparentize($black, 0.4);
  }

  &:active {
    color: transparentize($black, 0.7);
  }
}

.product-card__image {
  width: $mobile-container;
  height: 195px;

  @include zero-indent;
}

.product-card__info-wrapper {
  position: relative;

  width: $mobile-container;
  min-height: 179px;
  margin: 0;
  padding: 27px;
  padding-bottom: 91px;

  border: 1px solid $border-gray;
}

.product-card__name {
  @include zero-indent;
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
}

.product-card__data {
  @include zero-indent;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.product-card__price-wrapper {
  position: absolute;
  left: 27px;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 74px;
  padding-top: 23px;

  border-top: 1px solid $light-gray;
}

.product-card__price {
  width: 170px;

  @include zero-indent;

  font-size: 15px;
}

.product-card__button-wrapper {
  width: 20px;

  @include zero-indent;
  margin-left: auto;
}

.product-card__button {
  width: 20px;
  min-height: 30px;
  padding: 0;

  font-size: 0;
  line-height: 0;

  border: none;

  cursor: pointer;
}

.product-card__button svg {
  fill: rgba(0, 0, 0, 0.2);
}

.product-card__button:hover svg,
.product-card__button:focus svg {
  fill: $green;
}

.product-card__button:active svg {
  fill: rgba(99, 209, 187, 0.3);
}

@media (min-width: $tablet-width) {
  .product-card {
    width: $tablet-container;
    margin-bottom: 54px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__image-wrapper {
    width: 334px;
    height: 334px;
  }

  .product-card__link--image {
    width: 334px;
    height: 334px;
  }

  .product-card__info-wrapper {
    width: 334px;
    padding-top: 25px;

    border: 1px solid $light-gray;
  }

  .product-card__name {
    margin-bottom: 5px;

    font-size: 20px;
  }

  .product-card__data {
    font-size: 15px;
  }

  .product-card__price-wrapper {
    left: 32px;
    width: 270px;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
    width: 316px;
    min-height: 660px;
    margin: 0;
    margin-top: 50px;
    margin-right: 50px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product-card__image,
  .product-card__image-wrapper {
    width: 316px;
    height: 462px;
  }

  .product-card__info-wrapper {
    flex-grow: 1;
    width: 316px;
    padding-bottom: 86px;
  }

  .product-card__price-wrapper {
    left: 26px;
    width: 257px;
  }
}
