.reviews {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}

.reviews__title {
  @include zero-indent;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  @include zero-indent;
  margin-bottom: 35px;
}

.reviews__text {
  @include zero-indent;
  margin-bottom: 35px;

  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.reviews__author {
  @include zero-indent;

  font-style: normal;
}

.reviews__author-twitter {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.reviews__toggles {
  width: $mobile-container;
  height: $cell-height;

  color: $black;

  border: 1px solid $light-gray;
}

.reviews__toggle {
  display: block;
  width: 128px;
  height: $cell-height;
  @include zero-indent;

  background-color: $transparent;
  border: none;
}

.reviews__toggle--prev {
  float: left;
}

.reviews__toggle--next {
  float: right;
}

.reviews__button {
  width: $mobile-container;
  margin-top: 38px;

  font-size: 18px;
}
