.modal-form__sizes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 260px;
  height: 52px;
  margin-bottom: 31px;
}

.modal-form__sizes-item {
  width: 82px;
  height: 52px;

  border: 2px solid rgb(236, 236, 236);
}

.modal-form__sizes-field {
  display: none;
}
