.social {
  width: $mobile-width;
  padding-right: 5px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 141px;
  min-height: 80px;

  margin: auto;
  padding: 0;

  list-style: none;
}

.social__item {
  padding-top: 5px;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $fade-green-hover;
}

.social__link:active svg {
  fill: transparentize($fade-green-hover, 0.7);
}

@media (min-width: $tablet-width) {
  .social {
    width: 167px;
  }

  .social__list {
    min-height: 143px;
    padding-right: 0;
  }

  .social__item {
    padding-top: 10px;
  }
}
