.social {
  width: $mobile-width;
}

.social__list {
  width: $mobile-container;
  min-height: 80px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;

  list-style: none;
  text-align: center;

  border-bottom: 1px solid rgb(229, 229, 229);
}

.social__item {
  display: inline-block;
  margin-right: 35px;

  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $fade-green-hover;
}

.social__link:active svg {
  fill: transparentize($fade-green-hover, 0.7);
}

@media (min-width: $tablet-width) {
  .social {
    width: 167px;
  }

  .social__list {
    width: 100%;
    min-height: 143px;
    padding-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 348px;
  }
}
